.oval-btn{
    width: 60px;
    height: 30px;
    color: #aeb8c4;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
}


button{
    text-decoration: none;
    border: none;
}