.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 1.5rem;
  .text {
    font-size: 1.4rem;
    color: #4c5968;
  }

  .nav-icon {
    cursor: pointer;
    z-index: 3;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    max-width: 300px; /* Set a maximum width */
    height: 40%;
    background-color: #fff;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
    z-index: 2;
    border-radius: 20px;
    min-height: 95vh;
  }

  .nav-menu a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: #333;
  }
}

.nav-menu__show + .nav-menu {
  right: 0;
}

.nav-toggle-icon {
  position: fixed;
  left: 80%;
  margin: 0.5rem 0rem;
  font-size: 1.9rem;
}

.mobile-tab {
  padding-top: 2rem;

  .mobile-tab__cta {
    display: flex;
    align-items: center;
    gap: 7rem;
    border-bottom: solid 1px #d1d1d1;
    border-bottom-width: 2px;
    
  }

  .remove,
  .remove a {
    color: red;
    border-bottom: none;
  }

  a {
    color: #6f6f6f;
    font-weight: bold;
  }
}
