nav {
  background-color: #fff;
  width: 100%;
  display: block;
  padding: 0.4rem 1rem;
  z-index: 2;
  position: fixed;
  justify-content: center;
  bottom: 0;
  display: flex;
  gap: 0.8rem;
  backdrop-filter: blur(15px);

  a {
    color: #aeb8c4;
    padding: 0.7rem;
    border-radius: 50%;
    display: flex;
    font-size: 2rem;
  }

  a:hover {
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
  }

  a.active {
    background: #fff;
    color: #4c5968;
  }
}
